.aksi-column{

    width:170px;

    text-align:center;

    vertical-align:middle;

}

.aksi-button{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

}

.aksi-button a{

    width:38px;

    height:38px;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    transition:.3s;

}

.btn-detail{

    background:#dff1ff;

    color:#4d9cff;

}

.btn-detail:hover{

    background:#4d9cff;

    color:#fff;

}

.btn-edit{

    background:#fff2d9;

    color:#f0a500;

}

.btn-edit:hover{

    background:#f0a500;

    color:#fff;

}

.btn-delete{

    background:#ffe3ea;

    color:#ff5c96;

}

.btn-delete:hover{

    background:#ff5c96;

    color:#fff;

}
